/* Styles for the main app container */
.app {
  padding: 20px;
  background-color: #f5f5f5;
}

/* Styles for the car catalog container */
.car-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cars per line */
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styles for the CarCatalog component */
.catalog-title {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  font-size: 24px;
}

.car-card {
  border: 1px solid #14fab5;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  border-radius: 5px;
}

.car-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.car-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.car-details {
  margin-top: 10px;
}

.car-details h2 {
  margin-top: 5px;
  font-size: 20px;
  color: #007bff;
}

.car-details h3 {
  margin-top: 5px;
  font-size: 16px;
}

.car-details p {
  margin-top: 5px;
  font-size: 14px;
}

/* Styles for the car detail */
.car-detail {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.car-detail img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.car-detail h2 {
  margin-top: 10px;
  font-size: 24px;
}

.car-detail h3 {
  margin-top: 5px;
  font-size: 18px;
}

.car-detail p {
  margin-top: 5px;
}

.car-detail button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Styles for the car search */
.car-search {
  margin-top: 20px;
}

.car-search input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styles for the navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Styles for the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .car-catalog {
    grid-template-columns: repeat(2, 1fr); /* Two cars per line on smaller screens */
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
